@model AgendamentoModel
@{
    ViewData["Title"] = "Agendamento";
}
<h1 class="text-center">Realizar Novo Atendimento</h1>
<form asp-controller="Cliente" asp-action="Agendar" method="post">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Selecione uma data</h5>
            <input type="date" required asp-for="DataAgendamento" class="form-control mb-3">
            <div class="form-group">
                <label for="horario" >Horário</label>
                <input type="time" required asp-for="Horario"  class="form-control" name="Horario">
            </div>
            <div class="mt-3">
                <label for="barbeiro">Selecione um barbeiro</label>
                <select class="form-select" asp-for="Barbeiro">
                        @foreach (var item in ViewBag.Barbeiros)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                </select>
            </div>          
            <div class="mt-3">
                <label for="servicoId">Serviço</label>
                <select asp-for="ServicoId" class="form-select">
                    @foreach (var servico in ViewBag.Servicos)
                    {
                        <option value="@servico.Id">@servico.Nome</option>
                    }
                </select>
            </div>
            <div class="text-center">
                <button onclick="enviarData()" class="btn btn-primary mt-3 w-100">Enviar</button>
                <a class="btn btn-secondary btn-block w-100 my-1" role="button" asp-controller="Cliente" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</form>


