@model AvaliacaoModel
@{
    ViewData["Title"] = "Avaliação";
}

<head>
    <link href="@Url.Content("/css/avaliar.css")" rel="stylesheet" />
    <link rel="preload" href="@Url.Content("/img/site/hero-banner.jpg")">
</head>


<div class="avalia">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
    <form asp-controller="Cliente" asp-action="Avaliar" method="post">
        <input type="hidden" asp-for="AgendamentoId" />
        <div class="card">
            <div class="card-body">
                <div class="form-group text-center">
                    <label>Faça sua avaliação</label>
                    <ul class="avaliacao justify-content-center">
                        <li class="star-icon ativo" data-avaliacao="1"></li>
                        <li class="star-icon" data-avaliacao="2"></li>
                        <li class="star-icon" data-avaliacao="3"></li>
                        <li class="star-icon" data-avaliacao="4"></li>
                        <li class="star-icon" data-avaliacao="5"></li>
                    </ul>
                    <input type="hidden" id="avaliacaoEstrelas" name="Avaliacao" value="1" />
                </div>
                <div class="form-group">
                    <label>Comentário sobre o Serviço</label>
                    <input type="textarea" asp-for="Comentario" required class="form-control" placeholder="Digite um comentário sobre o serviço prestado" />
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div>
                        <button id="btnEnviar" class="btn btn-login">Enviar</button>
                    </div>
                    <div>
                        <a class="btn btn-secundary" role="button" asp-controller="Cliente" asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>