body {
    font-family: Arial, sans-serif;
    background-image: url(../img/hero-banner.jpg);
    align-items: center;
}

.recuperar {
    max-width: 500px;
    margin: 350px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="submit"], a[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"], a[type="submit"] {
    background-color: hsl(36deg 60.75% 58.04%);
    color: #fff;
    cursor: pointer;
}

    input[type="submit"]:hover, a[type="submit"]:hover {
        background-color: hsl(36, 61%, 58%);
        transform: translateY(-2px);
    }


    a[type="submit"]{
        text-align: center;
    }
    /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
    @media (min-width: 575px) {
        /**
     * FOOTER
     */



        .footer-link-box {
        grid-template-columns: 1fr 1fr;
    }

    .footer-list:is(:nth-child(3), :nth-child(4)) {
        grid-column: 1 / 3;
    }

    .blog-card .card-title {
        --fs-14: 1.7rem;
        max-width: 25ch;
    }

    .footer-brand {
        align-items: center;
    }
}





/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {





    /**
     * FOOTER
     */

    .footer-list:is(:nth-child(3), :nth-child(4)) {
        grid-column: auto;
    }
}





/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {




    /**
     * FOOTER
     */

    .footer-brand {
        display: flex;
        align-items: center;
    }

    .footer .logo {
        padding: 60px 70px;
        border-block-end: none;
        border-inline-end: 1px solid var(--white_10);
    }

    .footer .input-wrapper {
        flex-grow: 1;
        margin-inline: 70px;
    }
}





/**
   * responsive for large than 1200px screen
   */







/* Estilos adicionais para ajustar o layout para dispositivos menores */
@media screen and (max-width: 768px) {
    .login-register-container {
        flex-direction: column;
    }

    .login,
    .register {
        width: 100%;
    }
}
