html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Login/Index.cshtml*/
.linkcadastro {
    text-decoration: none;
    font-size: 18px;
    transition-delay: 0.1s;
}
.linkcadastro:hover{
    text-decoration: underline;
    font-size: 20px;
}

/*RedefinirSenha.cshtml*/
.erro-mensagem {
    color: red;
    font-size: 17px;
    font-weight: bold;
    border: none;
}

.btn-password {
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

/*Agendar.cshtml*/
.selected {
    background-color: #007bff;
    color: #fff;
    outline: none;
}
#calendario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.btn-dia {
    width: 72px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dia:hover {
   background-color: #f8f9fa;
   color: #0d6efd;
}

/*Avaliar.cshtml*/
.avaliacao{
  display: flex;
 }
.star-icon{
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px;
}
.star-icon::before{
  content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}
.avaliacao:hover .star-icon::before{
  content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}

/*Exibir estrela index.cshtml*/
.star-fill {
    list-style-type: none;
    border: 1px solid #fff;
    color: #ffe500;
    font-size: 30px;
}
.star {
    list-style-type: none;
    border: 1px solid #fff;
    color: #ffe500;
    font-size: 30px;
}
