html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.linkcadastro {
    text-decoration: none;
    font-size: 18px;
    transition-delay: 0.1s;
}
.linkcadastro:hover{
    text-decoration: underline;
    font-size: 20px;
}

.erro-mensagem {
    color: red;
    font-size: 17px;
    font-weight: bold;
}