@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro";
}

<h1 class="display-4 text-center">Cadastro</h1>

<form asp-controller="Cadastro" asp-action="Criar" method="post">
  <div class="mb-3">
    <label for="email">E-mail</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu e-mail"/>   
  </div>
  <div class="mb-3">
    <label for="nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome completo"/>
  </div>
  <div class="mb-3">
    <label for="celualr">Celular</label>
    <input type="text" asp-for="Celular" class="form-control" placeholder="Digite seu celular"/>
  </div>
  <div class="mb-3">
    <label for="senha">Senha</label>
     <input type="password" asp-for="Senha" class="form-control" placeholder="Digite sua senha"/>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
</form>