@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4 text-center">Login</h1>

<form>
  <div class="mb-3">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" placeholder="Digite seu e-mail"/>   
  </div>
  <div class="mb-3">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Digite seu nome completo"/>
  </div>
  <div class="mb-3">
    <label for="celualr">Celular</label>
    <input type="text" class="form-control" placeholder="Digite seu celular"/>
  </div>
  <div class="mb-3">
    <label for="senha">Senha</label>
     <input type="password" class="form-control" placeholder="Digite sua senha"/>
  </div>

  <button type="submit" class="btn btn-primary">Entrar</button>
</form>





